@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #323232;
}

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap__img {
  width: 20%;
  aspect-ratio: 17/4;
}

.header-wrap__img a img {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrap__nav {
  width: 40%;
}

.header-wrap__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap__nav__list__item a {
  color: #323232;
  text-decoration: none;
}

.header-wrap__nav__list__item a:hover{
  opacity: 0.7;
}

.header-wrap__btn {
  width: 33%;
}

.header-wrap__btn__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap__btn__list a{
  color: #fff;
  text-decoration: none;
}

.header-wrap__btn__list a:hover{
  opacity: 0.7;
}

.header-wrap__btn__list__dl {
  display: inline-block;
  margin-top: 0.5%;
  position: relative;
  background-color: #EC7986;
  border-radius: 50px;
  padding: 1.5% 8%;
}

.header-wrap__btn__list__try {
  display: inline-block;
  margin-top: 0.5%;
  position: relative;
  background-color: #6A6A6A;
  border-radius: 50px;
  padding: 1.5% 8%;
}

.top{
  background-image: url("../img/pixta_98369094.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  aspect-ratio: 2/1;
  z-index: 0;
  object-fit: cover;
}

.top-wrap{
  max-width: 1400px;
  margin: 0 auto;
}

.__inner{
  max-width: 1250px;
  width: 75%;
  position: relative;
  margin: 2% auto;
  padding: 5% 0;
}

.top-wrap__ttl{
  font-size: 2.5rem;
  font-weight: 700;
}

.top-wrap__ttl span{
  color: #00ACEB;
}

.top-wrap__mes{
  font-size: 1.75rem;
  font-weight: 700;
}

.top-wrap__mes span{
  display: inline-block;
  background-color: #EC7986;
  color: #fff;
  letter-spacing: 3px;
  height: 45px;
  width: 160px;
  text-align: center;
}

.top-wrap__img{
  display: inline-block;
  width: 55%;
}

.top-wrap__img img{
  width: 100%;
  height: 100%;
}

.top-wrap__list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3.5%;
  list-style: none;
}

.top-wrap__list__item{
  width: 30%;
  margin-bottom: 15px;
  background-color: #323232;
  color: #fff;
  text-align: center;
  padding: 1% 0;
}

.top-wrap__btn__list{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
  list-style: none;
}

.top-wrap__btn__list a{
  color: #fff;
  text-decoration: none;
  
}

.top-wrap__btn__list__dl {
  display: inline-block;
  margin-top: auto;
  position: relative;
  background-color: #EC7986;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 1.5% 8%;
}

.top-wrap__btn__list__try {
  display: inline-block;
  margin-top:auto;
  position: relative;
  background-color: #6A6A6A;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 1.5% 8%;
}

.pro-wrap__ttl{
  text-align: center;
}

.s-ttl{
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
}

.pro-wrap__con{
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.pro-wrap__con__block{
  position: relative;
  width: 30%;
  text-align: center;
  padding: 1.5%;
}

.pro-wrap__con__block img{
  width: 100%;
}

.pro-wrap__con__block h2{
  font-weight: 700;
}

.pro-wrap__con__block p{
  text-align: left;
  font-size: 1rem;
}

.pro::after {
  content: "";
  position: absolute;
  left: 45%;
  border-top: 65px solid #fff;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.sol{
  background-color: #00ACEB;
  color: #fff;
  padding-top: 1%;
}

.sol-wrap__ttl {
  text-align: center;
}

.sol-wrap__con {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.sol-wrap__con__block {
  position: relative;
  width: 30%;
  text-align: center;
  padding: 1.5%;
}

.sol-wrap__con__block img {
  width: 100%;
}

.sol-wrap__con__block h2 {
  font-weight: 700;
}

.sol-wrap__con__block p {
  text-align: left;
  font-size: 1rem;
}

.fea-wrap__ttl{
  text-align: center;
}

.fea-wrap__ttl h2{
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5%;
}

.fea-wrap__con__block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.fea-wrap__con__block:nth-of-type(2n){
  flex-direction: row-reverse;
}

.fea-wrap__con__block__txt{
  width: 45%;
}

.fea-wrap__con__block__txt span {
  line-height: 110px;
  font-size: 1.75rem;
}

.fea-wrap__con__block__txt h3{
  display: inline-block;
  display: flex;
  color: #00ACEB;
  font-size: 5rem;
  font-weight: 700;
  padding: 0 0;
  align-items: end;
}

.fea-wrap__con__block__img{
  width: 45%;
  aspect-ratio: 7/5;
}

.fea-wrap__con__block__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voi{
  background-color: #CCF1FF;
}

.voi-wrap__ttl{
  text-align: center;
  margin-top: 5%;
}

.voi-wrap__con {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.voi-wrap__con__block {
  position: relative;
  width: 30%;
  text-align: center;
  padding: 1.5%;
}

.voi-wrap__con__block img {
  width: 100%;
}

.voi-wrap__con__block h2 {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: left;
  margin-top: 5%;
}

.voi-wrap__con__block p {
  text-align: left;
  font-size: 1rem;
  margin-top: 5%;
}

.voi-wrap__con__block span{
  display: inline-block;
  margin-bottom: 5%;
  font-size: 0.75rem;
}

.pln-wrap__ttl{
  text-align: center;
}

.pln-wrap__con{
  width: 80%;
  margin: 3% auto;
}

.pln-wrap__mes {
  font-size: 1.75rem;
  display: inline-block;
  position: relative;
  background-color: #00ACEB;
  color: #fff;
  letter-spacing: 3px;
  height: 45px;
  width: 230px;
  text-align: center;
}

.pln-wrap__mes::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 100px;
  border-top: 20px solid #00ACEB;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.pln-wrap__price{
  display: flex;
  font-size: 1.25rem;
}

.pln-wrap__price__left{
  width: 65%;
}

.pln-wrap__price__left span{
  font-size: 4.75rem;
  color: #EC7986;
  font-weight: 700;
}

.pln-wrap__price__right{
  font-size: 1.75rem;
  width: 35%;
  text-align: right;
}

.pln-wrap__price__right p{
  display: inline-block;
  color: #EC7986;
  font-size: 2.25rem;
  font-weight: 700;
}

.pln-wrap__txt{
  text-align: center;
  font-size: 1.25rem;
  color: #EC7986;
  font-weight: 700;
}

.pln-wrap__btn__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 3%;
}

.pln-wrap__btn__list a {
  color: #fff;
  text-decoration: none;
}

.pln-wrap__btn__list a:hover {
  opacity: 0.7;
}

.pln-wrap__btn__list__dl {
  display: inline-block;
  margin-top: 0.5%;
  position: relative;
  background-color: #EC7986;
  border-radius: 50px;
  padding: 1.5% 8%;
}

.pln-wrap__btn__list__try {
  display: inline-block;
  margin-top: 0.5%;
  position: relative;
  background-color: #6A6A6A;
  border-radius: 50px;
  padding: 1.5% 8%;
}

.faq-wrap__ttl{
  text-align: center;
}

.faq-wrap__con{
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.faq-wrap__con__block{
  margin-top: 5%;
}

.faq-wrap__con__block__top{
  font-weight: 700;
}

.faq-wrap__con__block__top p{
  font-size: 1.25rem;
}

.faq-wrap__con__block__top span{
  font-size: 2.25rem;
  font-weight: 700;
}

.con{
  background-color: #CCF1FF;
}

.con-wrap__ttl {
  text-align: center;
  margin-top: 5%;
}

.con-wrap__ttl p{
  margin-top: 2%;
}

.con-wrap__con {
  display: flex;
  width: 60%;
  margin: 2% auto;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 5%;
}

.con-wrap__con__form{
  width: 90%;
  margin: 0 7%;
}

.con-wrap__con__form__item {
  margin: 4.5% 0;
}

.con-wrap__con__form__item label {
  display: block;
  position: relative;
  font-size: 1.25rem;
  padding-bottom: 0.75%;
}

.con-wrap__con__form__item label span {
  font-size: 1.1rem;
  color: #fff;
  background-color: #E9474D;
  padding: 0.2% 1.5%;
  margin-left: 1.5%;
}

.con-wrap__con__form__item .__rev {
  font-size: 1.1rem;
  color: #fff;
  background-color: #6A6A6A;
  padding: 0.2% 1.5%;
  margin-left: 1.5%;
}

.con-wrap__con__form__item input {
  width: 100%;
  height: 2rem;
  border: solid 1px;
}

.con-wrap__con__form__item textarea {
  width: 100%;
  height: 20rem;
  border: solid 1px;
}

.con-wrap__con__form__btn {
  width: 40%;
  background-color: #323232;
  border-radius: 50px;
  margin: 0 auto;
  }
  
.con-wrap__con__form__btn button {
  width: 100%;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  border: unset;
  background-color: unset;
  line-height: 2.5;
  transition: all 0.3s;
}

.con-wrap__con__form__btn button:hover {
  background-color: #00ACEB;
  color: #fff;
  border-radius: 50px;
}

.footer-wrap{
  padding:2% 0;
}

.footer-wrap {
  text-align: center;
}